*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}
.calculator
{
    position: relative;
    display: grid;
    background: linear-gradient(225deg, #08171e, #0a1b23);
    border-radius: 5px;
}
.calculator .value
{
    color: white;
    grid-column: span 4;
    height: 80px;
    text-align: right;
    border: 1px solid gray;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border: 1px solid rgba(0,0,0.1);
    border-radius: 17px;
    background:  linear-gradient(225deg, #08171e, #0a1b23);
    
}
.calculator span
{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    border: none;
    outline: none;
    place-items: center;
    border: 1px solid rgba(0, 0, 0. 1);
    border-radius: 16px;
    background: #0a1b23;
    box-shadow: inset 12px 12px 23px #07141a, 
            inset -12px -12px 23px #0d222c;
}
.calculator span:active
{
    background: #74ff3b;
    color: #111
}
.calculator span.clear
{
    grid-column: span 2;
    width: 120px;
}
.calculator span.plus
{
    grid-row: span 2;
    height: 120px;
}


